#root {
    -fx-background-color: #282828;
}
#menuTop {
    -fx-background-color: #202020;
}

#menuTop1 {
    -fx-text-fill: white;
}

#listData {
    -fx-background-color: #282828
}

#middlePane {
    -fx-background-color: #282828;
}

#dataPane {
    -fx-background-color: #282828;
}

#dataSep .line {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
    -fx-border-width: 2
}

#topSep .line {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
    -fx-border-width: 2;
}

#bottomSep .line {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
    -fx-border-width: 2;
}

/* style class for buttons*/
.menu-btn {
    -fx-background-color: #383838;
    -fx-background-radius: 15;
    -fx-alignment: center;
}

.menu-btn:hover {
    -fx-border-color: #EE82EE, #720e9e;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 3;
    -fx-border-style: solid, solid;
    -fx-border-radius: 15;
}

.menu-btn:selected {
    -fx-background-color: grey;
    -fx-border-color: #720e9e;
    -fx-border-width: 4;
    -fx-background-radius: 15;
    -fx-border-radius: 13;
}

.menu-btn:selected:hover { /* both selected and hovered */
    -fx-background-color: grey;
    -fx-border-color: #EE82EE, #720e9e;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 3;
    -fx-border-style: solid, solid;
    -fx-border-radius: 15;
}

#selectButton {
    -fx-background-image: url("pointer3.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#selectButton:hover {
    -fx-background-image: url("pointer2.png");
    -fx-background-size: 48px 48px;
}
#selectButton:selected {
    -fx-background-image: url("pointer2.png");
    -fx-background-size: 48px 48px;
}


#addButton {
    -fx-background-image: url("plus.png");
    -fx-background-size: 56px 56px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addButton:hover{
    -fx-background-image: url("plus.png");
    -fx-background-size: 62px 62px;
}

#playButton {
    -fx-background-image: url("play.png");
    -fx-background-size: 48px 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#playButton:hover {
    -fx-background-image: url("play.png");
    -fx-background-size: 56px 56px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
#playButton:selected {
    -fx-background-image: url("pause.png");
    -fx-background-size: 64px 64px;
}

#stressTestButton {
    -fx-background-image: url("stressTest.png");
    -fx-background-size: 48px 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#stressTestButton:hover {
    -fx-background-image: url("carIcon.png");
}
#stressTestButton:selected {
    -fx-background-image: url("carIcon.png");
}

#addMenue { /* add button */
    -fx-background-color: #383838;
    -fx-border-color: #EE82EE, #720e9e;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 3;
    -fx-border-style: solid, solid;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}
